<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sistem 1 Dashboard</title>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <link rel="stylesheet" href="/static/table_style.css">
</head>
<body>

<h1>The Last Update</h1>

<section class="top-boxes">
  <div class="data-box">
      <h3>P1</h3>
      <p id="box_temperature">--</p>
  </div>

  <div class="data-box">
      <h3>P2</h3>
      <p id="box_humidity">--</p>
  </div>

  <div class="data-box">
      <h3>P3</h3>
      <p id="box_vibration">--</p>
  </div>

  <div class="data-box">
      <h3>P4</h3>
      <p id="box_flow">--</p>
  </div>

  <div class="data-box">
      <h3>P5</h3>
      <p id="box_voltage">--</p>
  </div>
</section>

<h1>My Virtual Simulation</h1>

<!-- Charts -->
<section class="charts-section">
  <h2>Charts</h2>

  <div class="button-container">
    <button onclick="showChart('all')">Show All</button>
    <button onclick="showChart('p1_chart')">P1</button>
    <button onclick="showChart('p2_chart')">P2</button>
    <button onclick="showChart('p3_chart')">P3</button>
    <button onclick="showChart('p4_chart')">P4</button>
    <button onclick="showChart('p5_chart')">P5</button>
  </div>

  <div class="chart-container">
      <div class="chart"><h3>P1</h3><div id="p1_chart"></div></div>
      <div class="chart"><h3>P2</h3><div id="p2_chart"></div></div>
      <div class="chart"><h3>P3</h3><div id="p3_chart"></div></div>
      <div class="chart"><h3>P4</h3><div id="p4_chart"></div></div>
      <div class="chart"><h3>P5</h3><div id="p5_chart"></div></div>
  </div>
</section>

<!-- Table + Stats -->
<section class="table-section">

  <div class="table-container">

  <table>
    <tr>
      <th>Data Source</th>
      <th>P1</th>
      <th>P2</th>
      <th>P3</th>
      <th>P4</th>
      <th>P5</th>
    </tr>

    <tr>
      <td>Min</td>
      <td><span id="temp_min">--</span></td>
      <td><span id="hum_min">--</span></td>
      <td><span id="vib_min">--</span></td>
      <td><span id="flow_min">--</span></td>
      <td><span id="volt_min">--</span></td>
    </tr>

    <tr>
      <td>Max</td>
      <td><span id="temp_max">--</span></td>
      <td><span id="hum_max">--</span></td>
      <td><span id="vib_max">--</span></td>
      <td><span id="flow_max">--</span></td>
      <td><span id="volt_max">--</span></td>
    </tr>

    <tr>
      <td>Mean</td>
      <td><span id="temp_mean">--</span></td>
      <td><span id="hum_mean">--</span></td>
      <td><span id="vib_mean">--</span></td>
      <td><span id="flow_mean">--</span></td>
      <td><span id="volt_mean">--</span></td>
    </tr>

    <tr>
      <td>Running Avg</td>
      <td><span id="temp_run">--</span></td>
      <td><span id="hum_run">--</span></td>
      <td><span id="vib_run">--</span></td>
      <td><span id="flow_run">--</span></td>
      <td><span id="volt_run">--</span></td>
    </tr>
  </table>

</div>


</section>

<script src="/static/table_sistem1.js"></script>

</body>
</html>
